@model CartIndexData

@using System.Globalization
@using Web.Data.Models
@using Web.ViewData

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link href="~/css/ProductStyle.css" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="~/js/CartFunctions.js"></script>

<style>
	.all-price {
		text-align: center;
	}
	.all-price a {
		font-size: 24px;
	}
</style>

<div class="all-price">
	<a>
		@{
			float totalPrice = 0;
			foreach(ProductInfo cartItemInfo in Model!.Products) {
				totalPrice += cartItemInfo.TotalPrice;
			}
		}
		Total: @totalPrice.ToString("c", CultureInfo.CreateSpecificCulture("ru-RU"))
	</a>
</div>
<div class="row mt-5 mb-2">
	@{
		foreach(ProductInfo cartItemInfo in Model.Products) {
			@Html.Partial("_ProductPartial", cartItemInfo);
		}
	}
</div>
<div class="col-md-4">
        <form asp-route="Checkout" enctype="multipart/form-data" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DeliveryAddress" class="control-label"></label>
                <input asp-for="DeliveryAddress" class="form-control" />
                <span asp-validation-for="DeliveryAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Checkout" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>